.containerNav {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: black;
}

.imgSpot {
  width: 50%;
  display: flex;
}
.logoSpot {
  width: 100px;

  margin-left: 40px;
  justify-self: center;
  align-self: center;
}
.linksCont {
  display: flex;
  align-self: center;
}

.nav-link {
  color: white;
}
.nv:hover {
  color: #1ed760;
}
.article1Container {
  background-color: #2d46b9;
  height: 500px;
  display: flex;
  padding: 100px;
}

.info {
  width: 50%;
}

.disfruta {
  font-size: 64px;
}

.artista {
  height: 200px;
  width: 200px;
}

.free {
  color: #1ed760;
}
.disfruta {
  color: #1ed760;
}
.descripcionPremium {
  color: #1ed760;
  font-size: 18px;
}
.sectionPremium {
  width: 50%;
}
.terminos {
  color: #1ed760;
}
.button-Free {
  margin: 10px 0px;
  padding: 10px 50px;
  color: #2d46b9;
  border: none;
  background-color: #1ed760;
  border-radius: 25px;
  font-weight: bold;
}

.button-Free:hover {
  background-color: white;
}

.container-boarding {
  background-color: #ff4632;
}

.item-heading {
  padding: 80px;
}
.txt-offer {
  margin: 10px 0px;
  color: black;
  font-size: 12px;
}
.txt-offer > a {
  color: black;
  text-decoration: black;
}
.txt-spotify-title {
  margin: 10px 0px;
  font-size: 16px;
  color: black;
}
.txt-free-months {
  margin: 10px 0px;
  font-family: sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: black;
  letter-spacing: -2px;
}
.button-Free-months {
  margin: 10px 0px;
  padding: 10px 50px;
  color: white;
  border: none;
  background-color: black;
  border-radius: 25px;
  font-weight: bold;
}

.button-Free-months:hover {
  color: black;
  background-color: white;
}
